build --action_env=ZERO_AR_DATE=1

build --apple_platform_type=ios

build --cxxopt='-std=c++14'
build --per_file_copt="third-party/webrtc/.*\.cpp$","@-std=c++14"
build --per_file_copt="third-party/webrtc/.*\.cc$","@-std=c++14"
build --per_file_copt="third-party/webrtc/.*\.mm$","@-std=c++14"

build --features=debug_prefix_map_pwd_is_dot
build --features=swift.cacheable_swiftmodules
build --features=swift.debug_prefix_map
build --features=swift.enable_vfsoverlays

build --strategy=Genrule=standalone
#build --spawn_strategy=standalone

build --strategy_regexp=Swift=standalone
build --strategy=CopyStubExecutable=standalone
build --strategy=ObjcBinarySymbolStrip=standalone
build --strategy=IntentGenerate=standalone
build --strategy_regexp=Linking.*Swift=remote
#build --strategy=SwiftCompile=standalone
#build --strategy=SwiftDerive=standalone
build --define RULES_SWIFT_BUILD_DUMMY_WORKER=1

build:remote --jobs=50
build:remote --remote_timeout=300
build:remote --java_runtime_version=rbe_jdk
build:remote --tool_java_runtime_version=rbe_jdk
build:remote --extra_toolchains=@flare_toolchains//osx/java:all

build:remote --crosstool_top=@flare_toolchains//osx/cc:toolchain
build:remote --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:remote --extra_toolchains=@flare_toolchains//osx/config:cc-toolchain
build:remote --apple_crosstool_top=@flare_toolchains//osx/cc:toolchain

build:remote --extra_execution_platforms=@flare_toolchains//osx/config:platform
build:remote --host_platform=@flare_toolchains//osx/config:platform
build:remote --platforms=@flare_toolchains//osx/config:platform

